* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: lightblue;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  min-height: 420px;
  width: 300px;
  position: absolute;
  top: 10%;
  background-color: gray;
  border: solid gray 10px;
  border-radius: 20px
}

.btn-div {
  min-height: 20px;
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 1 25%;
  padding: 10px;
  font-size: 25px;
  border: gray solid 5px;
  border-radius: 10px;
}

.display {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  background-color: greenyellow;
  border-width: 5px 5px 0px 5px;
  border-style: solid;
  border-radius: 15px;
  border-color: gray;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;

}

.top-display {
  font-size: 10px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}


.bottom-display {
  font-size: 20px;
}

.clear-btn {
  flex: 100%;
  margin-top: 20px;
  background-color: rgb(252, 152, 152)
}