.body {
  width: 70vw;
  margin: auto;
  background-color: skyblue;
}



.buttons{
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr);
    grid-gap: 10px;
    justify-content: center;
    border-style: solid;
    border-color: black;
    
}
